@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    font-family: 'Montserrat', sans-serif;
    color: #A1C181;
}

button {
  background-color: #FCCA46; /* sunglow */
  border-radius: 12px;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

#usrAllergens, #usrDiets{
    display: none;
}
